* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #1E2020;
}

.contenedorgeneral {
  min-height: calc(100vh - 100px - 100px);
}

.bg-light {
  background-color: #141414 !important;
  width: 100%;
  height: 100px;
}

.navbar-nav {
  font-weight: 500;
  font-size: 1.2rem;
  margin-right: 30px;
}

.navbar-collapse {
  background-color: #141414;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  color: #fff !important;
  padding: 15px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  width: auto !important;
}

.img-fluid {
  width: 50px;
  position: absolute;
  top: 0;
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.nav-item {
  padding: 15px !important;
}

.nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  color: #C42847 !important;
}

#main-header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-animation: 2s aparicion 1;
          animation: 2s aparicion 1;
  -webkit-transform-origin: top;
          transform-origin: top;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  font-weight: bold;
}

.jumbotron {
  background-image: url(../images/banner.jpg);
  height: calc(100vh - 100px);
  width: auto;
  background-size: cover;
  -webkit-animation: 2s aparicion 1;
          animation: 2s aparicion 1;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 8rem;
  margin-top: 20vh;
  width: 600px;
}

@-webkit-keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes aparicion {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}

.texto__inicio {
  text-align: left;
}

h1 {
  color: white;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.boton__contactame {
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: 600;
  border: 2px solid #C42847;
  background-color: #C42847;
  border-radius: 8px;
  letter-spacing: 2px;
  padding: 10px;
  height: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.boton__contactame:hover {
  font-size: 1.8rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  color: #fff;
}

.banner__imagen {
  height: calc(100vh - 100px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.proyectos__cajaindex {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.proyectos__titulo {
  text-align: center;
  margin: 50px 0 40px 0;
  color: white;
  font-size: 2rem;
}

.contenedor__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  margin: auto;
  width: 48%;
  margin-top: 1.7rem;
  background-color: #141414;
  border-radius: 10px !important;
}

.card-body {
  height: 200px;
  margin-bottom: 10px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.card-text {
  font-size: 1rem;
}

.btn, .formulario__enviar {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  background-color: #C42847;
  letter-spacing: 2px;
  padding: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn:hover, .formulario__enviar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 700;
  color: #fff;
}

.card-img-top {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-img-top:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-img {
  height: 430px;
  width: 100%;
  background-color: #141414;
  overflow: hidden;
}

.light-box {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.light-box img {
  width: 60vw;
  max-height: 70vw;
}

.light-box:target {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.cruz {
  display: block;
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
  top: 40px;
  right: 45px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  background-color: #C42847;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.cruz:hover {
  color: #fff;
  color: #fff;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.next, .previous, .previous:hover {
  margin-left: 20px;
  display: block;
  background-color: #C42847;
  font-size: 1.5rem;
  height: 35px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.previous {
  margin-right: 20px;
}

.next:hover, .previous:hover {
  color: #fff;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.formulario {
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 40%;
}

input, textarea {
  font-family: 'Montserrat', sans-serif;
}

textarea {
  font-size: 1rem;
  width: 400px;
  border: none;
  padding: 5px;
  margin: 8px;
}

.formulario__titulo {
  text-align: center;
  margin: 50px 0 40px 0;
  color: white;
  font-size: 2rem;
}

.formulario__nombre, .formulario__mail, .formulario__mensaje {
  color: #fff;
  font-size: 16px;
  width: 90%;
  height: 30px;
  border: 0;
  padding: 5px;
  margin: 8px;
  background: transparent;
  border-bottom: 1px solid #C42847;
  outline: none;
}

.formulario__mensaje {
  height: 100px;
}

.formulario__enviar {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 6px;
  border: 1px solid #C42847;
  margin: 20px;
  background: #C42847;
  width: 120px;
  color: #fff;
  cursor: pointer;
}

.texto__contacto {
  margin: 0 auto;
  margin-top: 50px;
  padding: 8px;
  text-align: center;
  width: 65%;
}

.texto__contacto__parrafo, .sobremi__texto {
  text-align: left;
  margin-top: 30px;
  height: 50px;
  font-size: 1.2rem;
}

.texto__contacto__titulo {
  font-size: 2.2rem;
}

select {
  font-size: 12px;
  width: 100px;
  height: 25px;
}

.sobremi {
  text-align: center;
  margin: 0 auto;
  width: 65%;
}

.sobremi__titulo {
  margin-top: 30px;
  color: white;
  font-size: 2rem;
}

.sobremi__imagen {
  height: 500px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.sobremi__texto {
  color: white;
  font-size: 1.2rem;
  text-align: left;
  margin: 30px 0 30px 0;
  height: auto;
}

.sobremi__caracteristicas {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 15rem;
  margin-bottom: 2.5rem;
}

.card-cualidades {
  margin-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.card-img-top-cualidades {
  margin: 0 auto;
  width: 80px;
}

.card-text-cualidades {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 1.5rem;
}

.habilidades__lenguajes {
  margin-top: 5rem;
  width: 100%;
  height: auto;
  text-align: center;
}

.lenguajes__titulo {
  margin-bottom: 2.5rem;
  height: auto;
  color: white;
  font-size: 2rem;
}

.lenguajes__cuadro {
  margin: 20px auto;
}

.lenguajes__contenedor {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.titulo__leng {
  color: white;
  font-size: 1.3rem;
  font-weight: 600;
  margin: .8rem;
}

.barra__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 20px auto;
  width: 50%;
  height: auto;
}

.barra__fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  outline: #C42847 2px solid;
  background-color: #00000050;
  width: 90%;
  height: 30px;
}

.html {
  width: 90%;
}

.css {
  width: 80%;
}

.javascript {
  width: 10%;
}

.php {
  width: 20%;
}

.python {
  width: 5%;
}

.node {
  width: 10%;
}

.barra__contenido {
  background-color: #C42847;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.1rem;
  border-radius: 2rem;
  font-weight: 600;
  height: 100%;
  color: white;
  font-size: 1.2rem;
}

.barra__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .1rem;
  font-weight: 600;
  background-color: #C42847;
  height: 100%;
  color: white;
  font-size: 1.2rem;
}

.programas__titulo {
  text-align: center;
  color: white;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}

.programas__imagenes {
  text-align: center;
  margin: 20px auto;
}

.habilidades__programas {
  margin-top: 5rem;
  width: 100%;
}

.caja__tarjetas {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  text-align: center;
  margin: 0 auto;
  width: 930px;
  height: 930px;
}

.caja__individual {
  margin: 25px auto;
  width: 300px;
  height: 250px;
  border: 2px solid #C42847;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.titulo__programa {
  font-size: 1.2rem;
  font-weight: 600;
}

.bajada__programa {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  font-weight: 300;
}

.caja__individual__contenido {
  width: 100%;
  height: 100%;
}

.programa__logo {
  margin: 25px auto;
  height: 50px;
}

.proyectos__contenedor {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px auto;
  width: 95%;
  height: auto;
}

.contenedor__trabajo {
  margin: 0 auto;
  width: 90%;
  height: 400px;
  overflow: hidden;
  border-radius: 5px !important;
  border: 1px solid #C42847;
  background-color: #141414;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.contenedor__imagen__trabajo {
  width: 100%;
}

.contenedor__imagen__trabajo__left {
  width: 100%;
}

.w-100 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90% !important;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 15px;
}

.contenido__proyecto {
  margin-top: 1rem;
}

.bajada__proyecto {
  margin-top: .5rem;
  height: auto;
}

.titulo__proyecto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  position: absolute;
  font-size: 1.7rem;
  width: 50%;
}

.w-100-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90% !important;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 40px;
}

.bajada__proyecto {
  margin-top: 3.5rem;
  padding-right: 25px;
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
}

.bajada__proyecto__left {
  margin-top: 3.5rem;
  padding-left: 22px;
  width: 100%;
  font-size: 1.1rem;
  text-align: left;
}

footer {
  position: absolute;
  font-size: 10pt;
  padding-top: 3px;
  display: block;
  background-color: #141414;
  width: 100%;
  height: 100px;
  text-align: center;
}

footer .icono__footer {
  width: 30px;
  height: 30px;
  margin-top: .6rem;
  fill: white;
}

footer .texto__footer {
  margin-top: 0.5rem;
}

@media only screen and (max-width: 1400px) {
  /* SECCION INDEX */
  .card-body {
    height: auto;
  }
  .btn, .formulario__enviar {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .card-img {
    height: 320px;
  }
  .card {
    width: 45%;
  }
}

@media only screen and (max-width: 1200px) {
  /* SECCION INDEX */
  .card-body {
    height: auto;
  }
  .btn, .formulario__enviar {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .card-img {
    height: 250px;
  }
  .card {
    width: 45%;
  }
  /* FORMULARIO */
  .formulario {
    width: 50%;
  }
  /* SECCION PROYECTOS */
  .contenedor__trabajo {
    height: auto;
  }
  .bajada__proyecto {
    margin-top: 3.5rem;
    padding-right: 25px;
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }
  .bajada__proyecto__left {
    margin-top: 3.5rem;
    padding-left: 22px;
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }
  .trabajo_2 {
    background-size: cover;
    height: 370px;
    margin-top: 3rem;
  }
  .trabajo_3 {
    height: 380px;
    margin-top: 4rem;
  }
  /* SECCION HABILIDADES */
  .barra__caja {
    width: 70%;
  }
  .barra__fondo {
    background-color: #00000050;
    width: 80%;
    height: 25px;
  }
  .barra__contenido {
    height: 23px;
  }
  .caja__tarjetas {
    width: 80%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 80%;
    height: auto;
  }
  /* SECCION SOBRE MI */
  .sobremi__texto {
    height: auto;
    font-size: 1.1rem;
  }
  .card-cualidades {
    margin-top: 2.5rem;
    padding: 3rem;
  }
  .card-img-top-cualidades {
    margin: 0 auto;
    width: 80px;
  }
  .card-text-cualidades {
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  .sobremi__caracteristicas {
    margin-bottom: 6rem;
  }
}

@media only screen and (max-width: 992px) {
  .nav-link:hover {
    -webkit-transform: none;
            transform: none;
  }
  /* SECCION INDEX */
  .card {
    width: 85%;
  }
  .card-img {
    height: auto;
  }
  /* SECCION SOBRE MI */
  .sobremi {
    text-align: center;
    margin: 0 auto;
    width: 65%;
  }
  .sobremi__titulo {
    margin-top: 30px;
    font-size: 2rem;
  }
  .sobremi__imagen {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  .sobremi__texto {
    font-size: 1.1rem;
  }
  .sobremi__caracteristicas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
  .card-cualidades {
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .card-img-top-cualidades {
    margin: 0 auto;
    width: 80px;
  }
  .card-text-cualidades {
    font-size: 1.2rem;
  }
  /* FORMULARIO */
  .formulario {
    width: 70%;
  }
  .contenedor__trabajo {
    width: 90%;
    height: auto;
  }
  .contenedor__imagen__trabajo {
    width: 100%;
    height: 360px;
  }
  .contenedor__imagen__trabajo__left {
    width: 100%;
    height: 360px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .w-100 {
    width: 85% !important;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 15px;
    margin: auto;
  }
  .titulo__proyecto {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .w-100-2 {
    width: 85% !important;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .trabajo_1 {
    background-position: 100%;
    background-size: cover;
  }
  .trabajo_2 {
    background-position: 50% 100%;
    background-size: 100%;
    background-size: cover;
  }
  .trabajo_3 {
    background-position: 50% 20%;
    background-size: 100%;
    background-size: cover;
  }
  .trabajo_4 {
    background-position: 50% 40%;
    background-size: 100%;
    background-size: cover;
  }
  .bajada__proyecto {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem !important;
    padding: 0;
    width: 85%;
    margin: auto;
    font-size: 1.1rem;
    text-align: left;
  }
  .bajada__proyecto__left {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem !important;
    padding: 0;
    width: 85%;
    margin: auto;
    font-size: 1.1rem;
    text-align: left;
  }
  .proyectos__contenedor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  /* SECCION HABILIDADES */
  .barra__caja {
    width: 80%;
  }
  .barra__fondo {
    background-color: #00000050;
    width: 90%;
    height: 25px;
  }
  .barra__contenido {
    height: 23px;
  }
  .caja__tarjetas {
    width: 80%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 80%;
    height: auto;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-top: 1.5rem;
    width: 45px;
    z-index: 1;
  }
  .navbar-nav {
    margin-left: 15px !important;
  }
  .navbar-collapse {
    margin-top: 2rem;
  }
  .nav-link {
    color: #fff !important;
    width: 25%;
    margin-top: .5rem;
    padding: .5rem;
  }
  /* SECCION INDEX */
  .card {
    width: 85%;
  }
  .card-img {
    height: auto;
  }
  .light-box img {
    width: 75%;
  }
  .cruz {
    font-size: 1.2rem;
    top: 50px;
    right: 40px;
    width: 30px;
    height: 30px;
  }
  .next, .previous, .previous:hover {
    position: absolute;
    top: 80%;
    right: 43%;
    margin-left: 15px;
    font-size: 1.4rem;
    height: 30px;
    width: 30px;
  }
  .previous {
    position: absolute;
    top: 80%;
    left: 43%;
    margin-left: 15px;
    font-size: 1.4rem;
    height: 30px;
    width: 30px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-top: 20vh;
    width: 600px;
    color: #fff;
    font-size: 2.5rem;
  }
  .texto__inicio {
    text-align: center;
    width: 100%;
  }
  h1 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .texto__saludo {
    width: 70%;
    font-weight: 400;
    font-size: 2.2rem;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .proyectos__contenedorgrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .formulario {
    width: 80%;
  }
  .boton__contactame {
    margin-top: 70px;
    top: 55%;
  }
  /* SECCION PROYECTOS */
  .contenedor__trabajo {
    width: 75%;
    height: auto;
  }
  .titulo__proyecto {
    font-size: 1.7rem;
  }
  /* SECCION SOBRE MI */
  .sobremi {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .sobremi .sobremi__titulo {
    margin-top: 30px;
    font-size: 2rem;
  }
  .sobremi .sobremi__imagen {
    max-width: 90%;
    max-height: 100%;
    margin-bottom: 2rem;
  }
  .sobremi .sobremi__texto {
    margin: 0 auto;
    width: 90%;
    height: auto;
    font-size: 1rem;
    text-align: left;
  }
  .sobremi .sobremi__caracteristicas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
  .sobremi .card-text-cualidades {
    font-size: 1.2rem;
  }
  /* SECCION HABILIDADES */
  .barra__caja {
    width: 80%;
  }
  .barra__fondo {
    background-color: #00000050;
    width: 90%;
    height: 25px;
  }
  .barra__contenido {
    justify-items: center;
    height: 25px;
    background-color: #C42847;
  }
  .barra__num {
    font-size: 1.1rem;
  }
  .programas__titulo {
    text-align: center;
    font-size: 2rem;
  }
  .habilidades__programas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .caja__tarjetas {
    width: 80%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 80%;
    height: auto;
  }
  .titulo__programa {
    font-size: 1.2rem;
    height: auto;
  }
  .bajada__programa {
    font-size: 1.1rem;
    height: auto;
  }
  .programa__logo {
    height: 70px;
  }
  /* SECCION CONTACTO */
  .texto__contacto {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .texto__contacto__parrafo, .sobremi__texto {
    height: auto;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 576px) {
  .logo {
    margin-top: 1.5rem;
    width: 40px;
    z-index: 1;
  }
  .navbar-nav {
    margin-left: 15px !important;
  }
  .navbar-collapse {
    margin-top: 1.5rem;
  }
  .nav-link {
    color: #fff !important;
    width: 25%;
    margin-top: .5rem;
    padding: .5rem;
  }
  /* SECCION INDEX */
  .card {
    width: 85%;
  }
  .card-img {
    height: auto;
  }
  .card-body {
    height: auto;
    margin-bottom: 10px;
  }
  .btn, .formulario__enviar {
    font-size: 1rem;
    width: 120px;
    padding: 3px;
  }
  .light-box img {
    width: 80%;
  }
  .cruz {
    font-size: 1.2rem;
    top: 50px;
    right: 40px;
    width: 30px;
    height: 30px;
  }
  .next, .previous, .previous:hover {
    position: absolute;
    top: 82%;
    right: 41%;
    margin-left: 15px;
    font-size: 1.3rem;
    height: 30px;
    width: 30px;
  }
  .previous {
    position: absolute;
    top: 82%;
    left: 41%;
    margin-left: 15px;
    font-size: 1.3rem;
    height: 30px;
    width: 30px;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-top: 20vh;
    width: 600px;
    color: #fff;
    font-size: 2.5rem;
  }
  .texto__inicio {
    text-align: center;
    width: 100%;
  }
  h1 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 2rem;
  }
  .texto__saludo {
    width: 70%;
    font-weight: 400;
    font-size: 2.2rem;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .proyectos__contenedorgrid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .formulario {
    width: 90%;
  }
  .formulario__enviar {
    width: auto;
  }
  .boton__contactame {
    margin-top: 70px;
    top: 55%;
  }
  /* SECCION PROYECTOS */
  .contenedor__trabajo {
    width: 90%;
    height: auto;
  }
  .contenedor__imagen__trabajo {
    width: 100%;
    height: auto;
  }
  .contenedor__imagen__trabajo__left {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .w-100 {
    width: 85% !important;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-left: 15px;
    margin: auto;
  }
  .titulo__proyecto {
    position: relative;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .w-100-2 {
    width: 85% !important;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .trabajo_1 {
    background-position: 100%;
    background-size: cover;
  }
  .trabajo_2 {
    background-position: 50% 100%;
    background-size: 100%;
    background-size: cover;
  }
  .trabajo_3 {
    background-position: 50% 20%;
    background-size: 100%;
    background-size: cover;
  }
  .trabajo_4 {
    background-position: 50% 40%;
    background-size: 100%;
    background-size: cover;
  }
  .bajada__proyecto {
    margin-top: 2.5rem;
    margin-bottom: 1.5rem !important;
    padding: 0;
    width: 85%;
    margin: auto;
    font-size: 1.1rem;
    text-align: left;
  }
  .bajada__proyecto__left {
    margin-top: 2.5rem;
    padding: 0;
    width: 85%;
    margin: auto;
    font-size: 1.1rem;
    text-align: left;
  }
  .proyectos__contenedor {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
  }
  /* SECCION CONTACTO */
  .texto__contacto {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .texto__contacto__parrafo, .sobremi__texto {
    height: auto;
    font-size: 1.1rem;
  }
  /* SECCION SOBRE MI */
  .sobremi {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .sobremi .sobremi__titulo {
    margin-top: 30px;
    font-size: 2rem;
  }
  .sobremi .sobremi__imagen {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2rem;
  }
  .sobremi .sobremi__texto {
    margin: 0 auto;
    width: 90%;
    height: auto;
    font-size: 1rem;
    text-align: left;
  }
  .sobremi .sobremi__caracteristicas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
  .sobremi .card-text-cualidades {
    font-size: 1.2rem;
  }
  .sobremi .card-cualidades {
    padding: 0;
  }
  /* SECCION HABILIDADES */
  .barra__caja {
    width: 80%;
  }
  .barra__fondo {
    background-color: #00000050;
    width: 90%;
    height: 30px;
  }
  .barra__contenido {
    justify-items: center;
    height: 100%;
    height: 30px;
    background-color: #C42847;
  }
  .barra__num {
    font-size: 1.1rem;
  }
  .programas__titulo {
    text-align: center;
    font-size: 2rem;
  }
  .habilidades__programas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .caja__tarjetas {
    width: 90%;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 70%;
    height: auto;
  }
  .titulo__programa {
    font-size: 1.3rem;
    height: auto;
  }
  .bajada__programa {
    font-size: 1.2rem;
    height: auto;
  }
  .programa__logo {
    height: 70px;
  }
}

@media only screen and (max-width: 425px) {
  .light-box img {
    max-width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cruz {
    top: 60px;
    right: 30px;
  }
  .next, .previous, .previous:hover {
    top: 75%;
    right: 38%;
  }
  .previous {
    top: 75%;
    left: 38%;
  }
  .formulario__enviar {
    width: 110px;
    height: 40px;
  }
  /* SECCION HABILIDADES */
  .barra__caja {
    width: 70%;
  }
  .barra__fondo {
    height: 20px;
  }
  .barra__contenido {
    height: 100%;
    font-weight: 500;
    color: white;
    font-size: 1rem;
  }
  .barra__num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    letter-spacing: .1rem;
    font-weight: 600;
    background-color: #C42847;
    height: 100%;
    color: white;
    font-size: 1.2rem;
  }
  .titulo__leng {
    color: white;
    font-size: 1.2rem;
  }
  .programas__titulo {
    font-size: 1.8rem;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 65%;
    height: auto;
  }
  .titulo__programa {
    font-size: 1.2rem;
    height: auto;
  }
  .bajada__programa {
    font-size: 1.1rem;
    height: auto;
  }
  .programa__logo {
    height: 60px;
  }
}

@media only screen and (max-width: 375px) {
  /* SECCION INDEX */
  h1 {
    color: white;
    font-size: 2.4rem;
  }
  .texto__inicio {
    font-size: 1rem;
    color: #141414;
  }
  .container {
    margin-top: 10vh;
  }
  /* SECCION SOBRE MI */
  .card-text-cualidades {
    font-size: 1.1rem;
  }
  .card-img-top-cualidades {
    height: 70px;
    width: auto;
  }
  .sobremi__texto {
    font-size: 1rem;
  }
  /* SECCION PROYECTOS */
  .titulo__proyecto {
    position: relative;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .w-100-2 {
    width: 85% !important;
    height: 90%;
    -o-object-fit: cover;
       object-fit: cover;
    margin: auto;
  }
  .bajada__proyecto {
    font-size: 1rem;
  }
  .bajada__proyecto__left {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .logo {
    margin-top: 1.7rem;
    height: 50px;
    width: auto;
    z-index: 1;
  }
  .navbar-nav {
    margin-left: 15px !important;
  }
  .navbar-collapse {
    margin-top: 1.5rem;
  }
  .nav-link {
    font-size: 1rem;
    color: #fff !important;
    width: 25%;
    margin-top: .5rem;
    padding: .5rem;
  }
  /* SECCION INDEX */
  .card {
    width: 90%;
  }
  h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .texto__inicio {
    width: 100%;
  }
  .container {
    margin-top: 20vh;
    width: 100%;
  }
  h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .light-box img {
    max-width: 90%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .cruz {
    top: 60px;
    right: 30px;
  }
  .next, .previous, .previous:hover {
    top: 65%;
    right: 35%;
  }
  .previous {
    top: 65%;
    left: 35%;
  }
  .formulario {
    width: 80%;
  }
  .formulario__enviar {
    width: 100px;
    height: 35px;
  }
  .boton__contactame {
    font-size: 1.3rem;
  }
  /* SECCION PROYECTOS */
  .proyectos__titulo {
    font-size: 1.6rem;
  }
  .bajada__proyecto {
    font-size: 0.9rem;
  }
  .bajada__proyecto__left {
    font-size: 0.9rem;
  }
  /* SECCION CONTACTO */
  .texto__contacto__parrafo, .sobremi__texto {
    height: auto;
    font-size: 1rem;
  }
  .texto__contacto__titulo {
    font-size: 1.6rem;
  }
  /* SECCION SOBRE MI */
  .sobremi {
    text-align: center;
    margin: 0 auto;
    width: 80%;
  }
  .sobremi .sobremi__titulo {
    font-size: 1.6rem;
  }
  .sobremi .sobremi__imagen {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 2rem;
  }
  .sobremi .sobremi__texto {
    margin: 0 auto;
    width: 90%;
    height: auto;
    font-size: 0.9rem;
    text-align: left;
  }
  .sobremi .sobremi__caracteristicas {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
  }
  .sobremi .card-text-cualidades {
    font-size: 1.1rem;
  }
  .sobremi .card-img-top-cualidades {
    height: 65px;
    width: auto;
  }
  .sobremi .card-cualidades {
    padding: 0;
  }
  /* SECCION HABILIDADES */
  .lenguajes__titulo {
    font-size: 1.6rem;
  }
  .titulo__leng {
    font-size: 1.2rem;
  }
  .barra__caja {
    width: 80%;
  }
  .barra__fondo {
    height: 20px;
  }
  .barra__contenido {
    height: 20px;
    font-size: 0.9rem;
  }
  .programas__titulo {
    text-align: center;
    font-size: 1.6rem;
  }
  .titulo__programa {
    font-size: 1.1rem;
    height: auto;
  }
  .bajada__programa {
    font-size: 1rem;
  }
  .programa__logo {
    height: 60px;
  }
  .caja__individual {
    margin: 25px auto;
    padding-bottom: 1rem;
    width: 70%;
    height: auto;
  }
}
/*# sourceMappingURL=style.css.map */